<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Categorías</title>
    <link rel="stylesheet" href="../assets/categories.css" />
  </head>
  <body>
    <h1>Gestión de Categorías</h1>

    <div>
      <button id="backButton" class="btn secondary">Volver</button>
    </div>

    <div id="category-form">
      <input
        type="text"
        id="name"
        placeholder="Nombre de la categoría"
      />
      <button id="save-category" class="btn success">Guardar</button>
    </div>

    <ol class="lista3" id="category-list">
      <!-- Aquí se mostrarán las categorías -->
    </ul>

    <script src="../scripts/categories.js"></script>
  </body>
</html>
