<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú Principal</title>
  <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
  <div class="main-container">
    <button id="toggle-dark-mode" class="btn">MODO OSCURO</button>
    <button id="reset-to-system" class="btn">USAR EL TEMA DEL SISTEMA</button>
    <div class="heading">
      <h1 class="heading__title">MENÚ</h1>
      <p class="heading__credits">Productos, ventas, compras a proveedores y reportes</p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">PRODUCTOS.</h2>
        <p class="card__apply">
          <a class="card__link" href="products.html">Ver detalle de productos <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-3">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">VENTAS.</h2>
        <p class="card__apply">
          <a class="card__link" href="sales.html">Ver detalle de ventas <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
     <div class="card card-4">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">COMPRAS.</h2>
        <p class="card__apply">
          <a class="card__link" href="purchases.html">Ver detalle de compras <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-5">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">PROVEEDORES.</h2>
        <p class="card__apply">
          <a class="card__link" href="suppliers.html">Ver detalle de proveedores <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
       <!-- <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
      </div> -->
    </div>
  </div>
  <script src="../scripts/index.js"></script>
</body>
</html>
