<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reportes</title>

  <link rel="stylesheet" href="../assets/reports.css" type="text/css">
</head>
<body>
  <div class="main-container">
    <button id="backButton" class="btn info">Volver</button>
    <div class="heading">
      <h1 class="heading__title">REPORTES</h1>
      <p class="heading__credits">Ventas, compras a proveedores y reportes</p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Compras a proveedores.</h2>
        <p class="card__apply">
          <a class="card__link" href="reportPurchases.html">Ver detalle de compras <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-3">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Ventas al público</h2>
        <p class="card__apply">
          <a class="card__link" href="reportSales.html">Ver detalle de ventas <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
     <div class="card card-4">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Aca vamos a reportar ganancias o generar pedidos, depende.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Depende <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
       <!-- <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
      </div> -->
    </div>
  </div>
  <script src="../scripts/reports.js"></script>
</body>
</html>
